body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #000000;
}

img
{
    image-rendering: pixelated;
}

#border
{
    left: -64px;
    top: -64px;
    position: absolute;

    width: 640px;
    height: 640px;
}

#editor
{
    width: 512px;
    margin: auto;
}

textarea
{
    display: block;
    width: 100%;

    border: 1;
    background-color: black;
    color: white;
    padding: 3px 6px;
}

canvas
{
    image-rendering: pixelated;

    width: 100%;
    height: 100%;
}

#renderer
{
    position: relative;
    margin: 64px auto;
    width: 512px;
    height: 512px;
    margin-top: 128px;
}
